version: '3.8'

services:
  frontend:
    image: makaronfx/kloboxio_frontend:${TAG:-latest}
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: ${BUILD_TARGET:-development}
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    networks:
      - react-express

  backend:
    image: makaronfx/kloboxio_backend:${TAG:-latest}
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: ${BUILD_TARGET:-development}
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "9001:9001" # Открытие порта 9001 для WebSocket
    networks:
      - express-mongo
      - react-express
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    volumes:
      - mongo-data:/data/db
    networks:
      - express-mongo
    expose:
      - "27017"

networks:
  react-express:
  express-mongo:

volumes:
  mongo-data:
