/*  Play.css */
.play {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100px;
  color: #fff;
  background-color: #2ecc71;
  border: none;
  box-shadow: 0 0 3px 2px #cec7c759;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.play.inactive {
  background-color: #e74c3c;
}
