body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
	background: #212121;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.no-select{
  user-select: none;
}

.button {
  display: flex;
}

.box {
  width: 35px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: #f2f2f2;
  transition: all .8s;
  cursor: pointer;
  position: relative;
  background: rgb(58, 165, 253);
  overflow: hidden;
  user-select: none;
}

.box:before {
  content: "";
  position: absolute;
  top: 0;
  background: #212121;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform .4s;
}

.box:nth-child(2)::before {
  transform: translateY(-100%);
  content: 'P';
}

.box:nth-child(3)::before {
  content: 'L';
}

.box:nth-child(4)::before {
  transform: translateY(-100%);
  content: 'A';
}

.box:nth-child(5)::before {
  content: 'Y';
}

.box:nth-child(6)::before {
  content: '';
}

.button:hover .box:before {
  transform: translateY(0);
}