.App {
  text-align: center;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.App-header {
  background-color: #222;
  min-height: 50px;
  color: white;
}

.App-intro {
  position: relative;
  background-color: #3b3b3b;
  margin: 0px;
}

.App-footer {
  background-color: #222;
  min-height:24px;
  color: white;
  text-align: center;
}

#canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.menu-button {
  min-height:50px;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.sub {
  background-color: #3b3b3b;
  background-image: -webkit-linear-gradient( -28deg, #3b3b3b 0%, #3b3b3b 50%, #292423 50%, #292423 50%);
  background-image: linear-gradient( -28deg, #3b3b3b 0%, #3b3b3b 50%, #292423 50%, #292423 50%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  .App {
    text-align: center;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }


.App-header {
  background-color: #222;
  min-height: 50px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
}

.App-intro {
  position: relative;
  background-color: #3b3b3b;
  margin: 0px;
}

.App-footer {
  background-color: #222;
  min-height:24px;
  color: white;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

#canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.menu-button {
  min-height:50px;
}

.sub {
  background-color: #3b3b3b;
  background-image: -webkit-linear-gradient( -28deg, #3b3b3b 0%, #3b3b3b 50%, #292423 50%, #292423 50%);
  background-image: linear-gradient( -28deg, #3b3b3b 0%, #3b3b3b 50%, #292423 50%, #292423 50%);
}

.App-footer {
  background-color: #222;
  min-height:24px;
  color: white;
  text-align: center;
}

#canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.menu-button {
  min-height:50px;
}

.sub {

    background-color: #3b3b3b;
    background-image: -webkit-linear-gradient( -28deg, #3b3b3b 0%, #3b3b3b 50%, #292423 50%, #292423 50%);
    background-image: linear-gradient( -28deg, #3b3b3b 0%, #3b3b3b 50%, #292423 50%, #292423 50%);
}